<div class="gantt-body-wrapper">
  <div class="header-month">
    <div class="header-month-item" *ngFor="let month of spaceMonth" [ngStyle]="{width: calculateWidthMonth(month) + 'px'}" [title]="prepareDate(month)">
      <p class="header-month-text">
        {{prepareDate(month)}}
      </p>
    </div>
    </div>
  <div class="header-days">
    <div class="header-days-item" *ngFor="let day of days" [ngStyle]="{width: options.bodyCellWidth}">
      <span>{{prepareDay(day)}}</span>
    </div>
  </div>
  <div class="gantt-main-space">
    <div class="row" *ngFor="let row of project.tasks">
      <div class="header-days-item" *ngFor="let day of days" [ngStyle]="{width: options.bodyCellWidth}">
      </div>
    </div>
  </div>
</div>
